Cython==3.2.4
ImageIO==2.37.2
lazy_loader==0.4
llvmlite==0.46.0
networkx==3.6.1
numba==0.63.1
numpy==2.3.5
packaging==26.0
pillow==12.1.0
scikit-image==0.26.0
scipy==1.17.0
shapely==2.1.2
tifffile==2026.1.28
tqdm==4.67.3
matplotlib==3.10.8
# Install torch manually
# Also install vessl